# Practice    
# Enjoy^_^

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [1]:
start = 1500
end = 2700
result = []

while start <= end:
    if start % 7 == 0 and start % 5 == 0:
        result.append(start)
    start += 1
print(result)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [2]:
import random

target = random.randint(1, 9)
guessed = False

print("Guess a number between 1 and 9:")

while not guessed:
    guess = int(input("Enter your guess: "))
    if guess == target:
        print("Well guessed!")
        guessed = True
    else:
        print("Try again!")

Guess a number between 1 and 9:
Enter your guess: 3
Try again!
Enter your guess: 5
Try again!
Enter your guess: 1
Well guessed!

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [3]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i, end=" ")

0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [4]:
#upper section
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

#lower section
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

## 5. Write a Python program that accepts a word from the user and reverses it.

In [7]:
word = input("enter a word: ")
reversed_word = ""
for i in range(len(word) - 1, -1, -1):
    reversed_word += word[i]
print("reversed word:", reversed_word)

enter a word: mostapha
reversed word: ahpatsom

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [8]:
numbers = (23, 1,24, 2, 4, 5, 6, 7,123,324,99, 923, 8, 9)
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("number of even numbers:", even_count)
print("number of odd numbers:", odd_count)

number of even numbers: 6
number of odd numbers: 8

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [9]:
name = "MOSTAPHA"

for letter in name:
    if letter == "M":
        print("*   *")
        print("** **")
        print("* * *")
        print("*   *")
        print("*   *")
        print()

    elif letter == "O":
        print(" *** ")
        print("*   *")
        print("*   *")
        print("*   *")
        print(" *** ")
        print()

    elif letter == "S":
        print(" ****")
        print("*    ")
        print(" *** ")
        print("    *")
        print("**** ")
        print()

    elif letter == "T":
        print("*****")
        print("  *  ")
        print("  *  ")
        print("  *  ")
        print("  *  ")
        print()

    elif letter == "A":
        print("  *  ")
        print(" * * ")
        print("*****")
        print("*   *")
        print("*   *")
        print()

    elif letter == "P":
        print("**** ")
        print("*   *")
        print("**** ")
        print("*    ")
        print("*    ")
        print()

    elif letter == "H":
        print("*   *")
        print("*   *")
        print("*****")
        print("*   *")
        print("*   *")
        print()

    elif letter == "A":
        print("  *  ")
        print(" * * ")
        print("*****")
        print("*   *")
        print("*   *")
        print()

*   *
** **
* * *
*   *
*   *

 ***
*   *
*   *
*   *
 ***

 ****
*
 ***
    *
****

*****
  *
  *
  *
  *

  *
 * *
*****
*   *
*   *

****
*   *
****
*
*

*   *
*   *
*****
*   *
*   *

  *
 * *
*****
*   *
*   *

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [15]:
for i in range(1, 10):
    for j in range(i):
        print(i, end="")
    print(" ", end="")

1 22 333 4444 55555 666666 7777777 88888888 999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [16]:
num = int(input("entr a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Input a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [17]:
total_sum = 0
count = 0

while True:
    num = int(input("enter a number (0 to finish): "))

    if num == 0:
        break
    total_sum += num
    count += 1
if count > 0:
    average = total_sum / count
    print("Sum:", total_sum)
    print("Average:", average)
else:
    print("no numbers were entered.")

Enter a number (0 to finish): 1
Enter a number (0 to finish): 2
Enter a number (0 to finish): 3
Enter a number (0 to finish): 4
Enter a number (0 to finish): 0
Sum: 10
Average: 2.5

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, â€¦â€¦.. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.


![image.png](attachment:image.png)

In [18]:
n = int(input("enter the number of terms: "))
a, b = 0, 1
print("fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 12
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89

# Finding the Maximum Value in a List

In [20]:
numbers = [1, 20, 4, 45,234,342,22, 99]
max_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
print("the maximum value is:", max_value)

the maximum value is: 342

# Counting Vowels in a String

In [21]:
text = "mostapha abdulaziz abdullah"
count = 0
vowels = "aeiou"

for char in text:
    is_vowel = False
    for vowel in vowels:
        if char == vowel:
            is_vowel = True
            break
    if is_vowel:
        count += 1
print("no of vowels:", count)

no of vowels: 10

# Finding Prime Numbers within a Range

In [22]:
start = int(input("enter the starting number: "))
end = int(input("enter the ending number: "))
for num in range(start, end + 1):

    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime and num > 1:
        print(num, end=" ")

enter the starting number: 1
enter the ending number: 44
2 3 5 7 11 13 17 19 23 29 31 37 41 43

# A Program that Simulating a Basic ATM Withdrawal

In [23]:
balance = 0
print("1.deposit")

print("3.check Balance")

print("2.withdraw")

print("4.exit")


while True:

    option = int(input("enter the number for operartion (1/2/3/4): "))

    if option == 1:
        amount = int(input("enter amount to deposit: "))
        balance = balance + amount
        print(f"deposited: {amount}. current balance: {balance}")

    elif option == 2:
        amount = int(input("enter amount to withdraw: "))
        if amount <= balance:
            balance = balance - amount
            print(f"withdrawn: {amount}. current balance: {balance}")
        else:
            print("err.")

    elif option == 3:
        print(f"your current balance is: {balance}")

    elif option == 4:
        print("exiting....")
        break
    else:
        print("invalid option")

1.deposit
3.check Balance
2.withdraw
4.exit
enter the number for operartion (1/2/3/4): 1
enter amount to deposit: 23
deposited: 23. current balance: 23
enter the number for operartion (1/2/3/4): 2
enter amount to withdraw: 12
withdrawn: 12. current balance: 11
enter the number for operartion (1/2/3/4): 4
exiting....

# Finding Common Elements in Two Lists

In [24]:
list1 = [5, 3, 2, 4, 12]
list2 = [4, 5, 6, 3, 2]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [5, 3, 2, 4]

# Calculating Factorial of a Number

In [26]:
list1 = [5, 3, 2, 4, 12]
list2 = [4, 5, 6, 3, 2]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [5, 3, 2, 4]

# Validating User Input with While Loop

In [27]:
while True:
    user_input = input("enter a positive number: ")

    if user_input.isdigit() and int(user_input) > 0:
        print(f"Valid input: {user_input}")
        break
    else:
        print("invalid input! Please enter a positive number.")

enter a positive number: 1
Valid input: 1

# Finding the Sum of Digits of a Number

In [28]:
num = int(input("Enter a number: "))
digit_sum = 0

while num > 0:
    digit_sum += num % 10
    num //= 10

print("The sum of digits is:", digit_sum)

Enter a number: 12
The sum of digits is: 3

# Checking for Palindrome Strings

In [29]:
string = input("Enter a string: ")
if string == string[::-1]:
    print("the string is a palindrome.")
else:
    print("the string is not a palindrome.")

Enter a string: mostapha
the string is not a palindrome.

# Creating a Dictionary from Two Lists

In [30]:
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
result = {keys[i]: values[i] for i in range(len(keys))}
print("the dictionary is:", result)

the dictionary is: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Simulating a Simple Password Check

In [32]:
password = "mypassword"
user_input = input("Enter the password: ")
if user_input == password:
    print("access granted")
else:
    print("access denied")

Enter the password: mypassword
access granted

# Generating a Multiplication Table for a Given Number

In [33]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 1232
1232 x 1 = 1232
1232 x 2 = 2464
1232 x 3 = 3696
1232 x 4 = 4928
1232 x 5 = 6160
1232 x 6 = 7392
1232 x 7 = 8624
1232 x 8 = 9856
1232 x 9 = 11088
1232 x 10 = 12320