# Practice    
# Enjoy^_^

# 1. Python Flow Control

## 1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [ ]:
start = 1500
end = 2700
result = []

while start <= end:
    if start % 7 == 0 and start % 5 == 0:
        result.append(start)
    start += 1
print(result)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to guess a number between 1 and 9.
Note : User is prompted to enter a guess. If the user guesses wrong then the prompt appears again until the guess is correct, on successful guess, user will get a "Well guessed!" message, and the program will exit.

In [ ]:
import random

target = random.randint(1, 9)
guessed = False

print("Guess a number between 1 and 9:")

while not guessed:
    guess = int(input("Enter your guess: "))
    if guess == target:
        print("Well guessed!")
        guessed = True
    else:
        print("Try again!")

Guess a number between 1 and 9:
Enter your guess: 3
Try again!
Enter your guess: 5
Try again!
Enter your guess: 1
Well guessed!

## 3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [ ]:
for i in range(7):
    if i == 3 or i == 6:
        continue
    print(i, end=" ")

0 1 2 4 5

## 4. Write a Python program to construct the following pattern, using a nested for loop.
```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
#upper section
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

#lower section
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

## 5. Write a Python program that accepts a word from the user and reverses it.

In [ ]:
word = input("enter a word: ")
reversed_word = ""
for i in range(len(word) - 1, -1, -1):
    reversed_word += word[i]
print("reversed word:", reversed_word)

enter a word: mostapha
reversed word: ahpatsom

## 6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

Expected Output :

Number of even numbers : 4

Number of odd numbers : 5

In [ ]:
numbers = (23, 1,24, 2, 4, 5, 6, 7,123,324,99, 923, 8, 9)
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("number of even numbers:", even_count)
print("number of odd numbers:", odd_count)

number of even numbers: 6
number of odd numbers: 8

## 7. Write a Python program to print the the first alphabet pattern 'A-Z' in your name .
for example  Expected Output:


```
  ***                                                                   
 *   *                                                                  
 *   *                                                                  
 *****                                                                  
 *   *                                                                  
 *   *                                                                  
 *   *
```

In [ ]:
name = "MOSTAPHA"

for letter in name:
    if letter == "M":
        print("*   *")
        print("** **")
        print("* * *")
        print("*   *")
        print("*   *")
        print()

    elif letter == "O":
        print(" *** ")
        print("*   *")
        print("*   *")
        print("*   *")
        print(" *** ")
        print()

    elif letter == "S":
        print(" ****")
        print("*    ")
        print(" *** ")
        print("    *")
        print("**** ")
        print()

    elif letter == "T":
        print("*****")
        print("  *  ")
        print("  *  ")
        print("  *  ")
        print("  *  ")
        print()

    elif letter == "A":
        print("  *  ")
        print(" * * ")
        print("*****")
        print("*   *")
        print("*   *")
        print()

    elif letter == "P":
        print("**** ")
        print("*   *")
        print("**** ")
        print("*    ")
        print("*    ")
        print()

    elif letter == "H":
        print("*   *")
        print("*   *")
        print("*****")
        print("*   *")
        print("*   *")
        print()

    elif letter == "A":
        print("  *  ")
        print(" * * ")
        print("*****")
        print("*   *")
        print("*   *")
        print()

*   *
** **
* * *
*   *
*   *

 ***
*   *
*   *
*   *
 ***

 ****
*
 ***
    *
****

*****
  *
  *
  *
  *

  *
 * *
*****
*   *
*   *

****
*   *
****
*
*

*   *
*   *
*****
*   *
*   *

  *
 * *
*****
*   *
*   *

## 8.  Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:


``
1
22
333
4444
55555
666666
7777777
88888888
999999999
``

In [ ]:
for i in range(1, 10):
    for j in range(i):
        print(i, end="")
    print(" ", end="")

1 22 333 4444 55555 666666 7777777 88888888 999999999

## 9. Write a Python program to create the multiplication table (from 1 to 10) of a number.
Expected Output:

Input a number: 6                                                       
6 x 1 = 6                                                               
6 x 2 = 12                                                              
6 x 3 = 18                                                              
6 x 4 = 24                                                              
6 x 5 = 30                                                              
6 x 6 = 36                                                              
6 x 7 = 42                                                              
6 x 8 = 48                                                              
6 x 9 = 54                                                              
6 x 10 = 60

In [ ]:
num = int(input("entr a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Input a number: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## 10. Write a Python program to calculate the sum and average of n integer numbers (input from the user). Input 0 to finish.

In [ ]:
total_sum = 0
count = 0

while True:
    num = int(input("enter a number (0 to finish): "))

    if num == 0:
        break
    total_sum += num
    count += 1
if count > 0:
    average = total_sum / count
    print("Sum:", total_sum)
    print("Average:", average)
else:
    print("no numbers were entered.")

Enter a number (0 to finish): 1
Enter a number (0 to finish): 2
Enter a number (0 to finish): 3
Enter a number (0 to finish): 4
Enter a number (0 to finish): 0
Sum: 10
Average: 2.5

# 11-Python Program to Print the Fibonacci sequence

The Fibonacci numbers are the numbers in the following integer sequence. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, â€¦â€¦.. In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation.


![image.png](attachment:image.png)

In [ ]:
n = int(input("enter the number of terms: "))
a, b = 0, 1
print("fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 12
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89

# Finding the Maximum Value in a List

In [ ]:
numbers = [1, 20, 4, 45,234,342,22, 99]
max_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
print("the maximum value is:", max_value)

the maximum value is: 342

# Counting Vowels in a String

In [ ]:
text = "mostapha abdulaziz abdullah"
count = 0
vowels = "aeiou"

for char in text:
    is_vowel = False
    for vowel in vowels:
        if char == vowel:
            is_vowel = True
            break
    if is_vowel:
        count += 1
print("no of vowels:", count)

no of vowels: 10

# Finding Prime Numbers within a Range

In [ ]:
start = int(input("enter the starting number: "))
end = int(input("enter the ending number: "))
for num in range(start, end + 1):

    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime and num > 1:
        print(num, end=" ")

enter the starting number: 1
enter the ending number: 44
2 3 5 7 11 13 17 19 23 29 31 37 41 43

# A Program that Simulating a Basic ATM Withdrawal

In [ ]:
balance = 0
print("1.deposit")

print("3.check Balance")

print("2.withdraw")

print("4.exit")


while True:

    option = int(input("enter the number for operartion (1/2/3/4): "))

    if option == 1:
        amount = int(input("enter amount to deposit: "))
        balance = balance + amount
        print(f"deposited: {amount}. current balance: {balance}")

    elif option == 2:
        amount = int(input("enter amount to withdraw: "))
        if amount <= balance:
            balance = balance - amount
            print(f"withdrawn: {amount}. current balance: {balance}")
        else:
            print("err.")

    elif option == 3:
        print(f"your current balance is: {balance}")

    elif option == 4:
        print("exiting....")
        break
    else:
        print("invalid option")

1.deposit
3.check Balance
2.withdraw
4.exit
enter the number for operartion (1/2/3/4): 1
enter amount to deposit: 23
deposited: 23. current balance: 23
enter the number for operartion (1/2/3/4): 2
enter amount to withdraw: 12
withdrawn: 12. current balance: 11
enter the number for operartion (1/2/3/4): 4
exiting....

# Finding Common Elements in Two Lists

In [ ]:
list1 = [5, 3, 2, 4, 12]
list2 = [4, 5, 6, 3, 2]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [5, 3, 2, 4]

# Calculating Factorial of a Number

In [ ]:
list1 = [5, 3, 2, 4, 12]
list2 = [4, 5, 6, 3, 2]
common_elements = []
for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [5, 3, 2, 4]

# Validating User Input with While Loop

In [ ]:
while True:
    user_input = input("enter a positive number: ")

    if user_input.isdigit() and int(user_input) > 0:
        print(f"Valid input: {user_input}")
        break
    else:
        print("invalid input! Please enter a positive number.")

enter a positive number: 1
Valid input: 1

# Finding the Sum of Digits of a Number

In [ ]:
num = int(input("Enter a number: "))
digit_sum = 0

while num > 0:
    digit_sum += num % 10
    num //= 10

print("The sum of digits is:", digit_sum)

Enter a number: 12
The sum of digits is: 3

# Checking for Palindrome Strings

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
    print("the string is a palindrome.")
else:
    print("the string is not a palindrome.")

Enter a string: mostapha
the string is not a palindrome.

# Creating a Dictionary from Two Lists

In [ ]:
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
result = {keys[i]: values[i] for i in range(len(keys))}
print("the dictionary is:", result)

the dictionary is: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Simulating a Simple Password Check

In [ ]:
password = "mypassword"
user_input = input("Enter the password: ")
if user_input == password:
    print("access granted")
else:
    print("access denied")

Enter the password: mypassword
access granted

# Generating a Multiplication Table for a Given Number

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 1232
1232 x 1 = 1232
1232 x 2 = 2464
1232 x 3 = 3696
1232 x 4 = 4928
1232 x 5 = 6160
1232 x 6 = 7392
1232 x 7 = 8624
1232 x 8 = 9856
1232 x 9 = 11088
1232 x 10 = 12320

# Assigment 3 Functions

In [ ]:
from typing_extensions import Self
class animal:
  def __init__(self , name, age, color, kingdom, size):
    self.name = name
    self.age = age
    self.color = color
    self.kingdom = kingdom
    self.size = size

  def animal_info(self):
      print(f"the animal name is:{self.name} , its age {self.age} , its color {self.color} , his size is {self.size}")

Animal1 = animal("lion", 4, "yellow", "wild", "big")

Animal1.animal_info()

the animal name is:lion , its age 4 , its color yellow , his size is big

# 2. Calculator app

In [ ]:
class Calculator:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def sub(self):
    return self.num1 - self.num2

  def divide(self):
    return self.num1 / self.num2

  def multiply(self):
    return self.num1 * self.num2
  def modulus(self):
    return self.num1 % self.num2

Calculator = Calculator(10, 20)

print(Calculator.add())
print(Calculator.sub())
print(Calculator.divide())
print(Calculator.multiply())
print(Calculator.modulus())

30
-10
0.5
200
10

# 2. Calculator app Extented

In [ ]:
import math

class ScientificCalculator:
  def __init__(self, num1, num2):
    self.num1 = num1
    self.num2 = num2

  def add(self):
    return self.num1 + self.num2

  def sub(self):
    return self.num1 - self.num2

  def divide(self):
    return self.num1 / self.num2

  def multiply(self):
    return self.num1 * self.num2

  def modulus(self):
    return self.num1 % self.num2

  def power(self):
    return self.num1 ** self.num2

  def square_root(self):
      return math.sqrt(self.num1)

  def sin(self):
    return math.sin(self.num1)

  def cos(self):
    return math.cos(self.num1)

  def tan(self):
    return math.tan(self.num1)

  def ln(self):
    return math.log(self.num1)

  def log(self, base=10):
    return math.log(self.num1, base)

  def matrix_add(self, matrix1, matrix2):
    """Adds two 2x2 matrices."""
    if not (self._is_valid_matrix(matrix1) and self._is_valid_matrix(matrix2)):
      raise ValueError("Invalid matrices provided for addition.")

    result = [[0, 0], [0, 0]]
    for i in range(2):
      for j in range(2):
        result[i][j] = matrix1[i][j] + matrix2[i][j]
    return result

  def matrix_subtract(self, matrix1, matrix2):
    """Subtracts two 2x2 matrices."""
    if not (self._is_valid_matrix(matrix1) and self._is_valid_matrix(matrix2)):
      raise ValueError("Invalid matrices provided for subtraction.")

    result = [[0, 0], [0, 0]]
    for i in range(2):
      for j in range(2):
        result[i][j] = matrix1[i][j] - matrix2[i][j]
    return result

  def matrix_multiply(self, matrix1, matrix2):
    """Multiplies two 2x2 matrices."""
    if not (self._is_valid_matrix(matrix1) and self._is_valid_matrix(matrix2)):
      raise ValueError("Invalid matrices provided for multiplication.")

    result = [[0, 0], [0, 0]]
    for i in range(2):
      for j in range(2):
        for k in range(2):
          result[i][j] += matrix1[i][k] * matrix2[k][j]
    return result

  def _is_valid_matrix(self, matrix):
    """Checks if a matrix is a valid 2x2 matrix."""
    return isinstance(matrix, list) and len(matrix) == 2 and \
           all(isinstance(row, list) and len(row) == 2 for row in matrix)


calculator = ScientificCalculator(10, 20)

print(calculator.add())
print(calculator.sub())
print(calculator.divide())
print(calculator.multiply())
print(calculator.modulus())
print(calculator.power())
print(calculator.square_root())
print(calculator.sin())
print(calculator.cos())
print(calculator.tan())
print(calculator.ln())  # Example usage of ln
print(calculator.log(10)) # Example usage of log with base 10
print(calculator.log(2))  # Example usage of log with base 2

calculator = ScientificCalculator(10, 20)
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

result_add = calculator.matrix_add(matrix1, matrix2)
result_subtract = calculator.matrix_subtract(matrix1, matrix2)
result_multiply = calculator.matrix_multiply(matrix1, matrix2)

print("Matrix Addition Result:")
for row in result_add:
    print(row)

30
-10
0.5
200
10
100000000000000000000
3.1622776601683795
-0.5440211108893698
-0.8390715290764524
0.6483608274590866
2.302585092994046
1.0
3.3219280948873626
Matrix Addition Result:
[6, 8]
[10, 12]

# Class Student

In [ ]:
class student:
  def __init__(self, name, age, grade):
    self.name = name
    self.age = age
    self.grade = grade

  def calc_situiton(self):
    if self.grade >= 50:
      return "passed"
    else:

      return "failed"


  def student_info(self):
    print(f"the student name is {self.name} , his age is {self.age} , his grade is {self.grade} , situiton {self.calc_situiton()}")

student1 = student("ahmed", 20, 50)

student1.student_info()

student1 = student("ahmed", 22, 30)
student1.student_info()

the student name is ahmed , his age is 20 , his grade is 50 , situiton passed
the student name is ahmed , his age is 22 , his grade is 30 , situiton failed

# Bank system

In [ ]:
class bank_system:
  def __init__(self, name, balance):
    self.name = name
    self.balance = balance

  def deposit(self, amount):
    amount+=self.balance
    return amount

  def withdraw(self, amount):
    amount-=self.balance
    return amount

  def check_balance(self):
    return self.balance

bank_system = bank_system("ahmed", 1000)

print("the bakance after deposting is :",bank_system.deposit(1000))
print("the amount of withdraw is :",bank_system.withdraw(500))
print("the total bakance is :",bank_system.check_balance())

the bakance after deposting is : 2000
the amount of withdraw is : -500
the total bakance is : 1000

# Simulating a Simple Password Check

In [1]:
def check_password():
    correct_password = "mostapha"
    user_password = input("Enter the password: ")
    if user_password == correct_password:
        print("Access granted")
    else:
        print("Access denied")

check_password()

Enter the password: hello
Access denied

# Generating a Multiplication Table for a Given Number

In [2]:
def multiplication_table():
    number = int(input("Enter a number: "))
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

multiplication_table()

Enter a number: 21
21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

# Calculating Average of Numbers Using Functions

In [3]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers)

def main():
    count = int(input("How many numbers? "))
    numbers = []
    for _ in range(count):
        num = float(input("Enter a number: "))
        numbers.append(num)
    average = calculate_average(numbers)
    print(f"The average is: {average}")

main()

How many numbers? 2
Enter a number: 23
Enter a number: 23
The average is: 23.0

# Finding the Longest Word in a List

In [5]:
def find_longest_word(words):
    longest = ""
    for word in words:
        if len(word) > len(longest):
            longest = word
    return longest

def main():
    count = int(input("How many words? "))
    words = []
    for _ in range(count):
        word = input("Enter a word: ")
        words.append(word)
    longest_word = find_longest_word(words)
    print(f"The longest word is: {longest_word}")

main()

How many words? 3
Enter a word: hell
Enter a word: no
Enter a word: yes
The longest word is: hell

# Checking if a Number is Prime

In [6]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

def main():
    num = int(input("Enter a number: "))
    if is_prime(num):
        print("The number is prime")
    else:
        print("The number is not prime")

main()

Enter a number: 23
The number is prime

# Converting Temperature Units

In [7]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

def main():
    print("Choose an option:")
    print("1. Convert Celsius to Fahrenheit")
    print("2. Convert Fahrenheit to Celsius")
    choice = int(input("Enter 1 or 2: "))
    if choice == 1:
        celsius = float(input("Enter temperature in Celsius: "))
        print(f"Temperature in Fahrenheit: {celsius_to_fahrenheit(celsius)}")
    elif choice == 2:
        fahrenheit = float(input("Enter temperature in Fahrenheit: "))
        print(f"Temperature in Celsius: {fahrenheit_to_celsius(fahrenheit)}")
    else:
        print("Invalid choice")

main()

Choose an option:
1. Convert Celsius to Fahrenheit
2. Convert Fahrenheit to Celsius
Enter 1 or 2: 2
Enter temperature in Fahrenheit: 23
Temperature in Celsius: -5.0

# Generating a List of Squares Using List Comprehension and Functions

In [8]:
def generate_squares(n):
    return [x ** 2 for x in range(1, n + 1)]

def main():
    count = int(input("Enter a number: "))
    squares = generate_squares(count)
    print(f"Squares: {squares}")

main()

Enter a number: 32
Squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024]

# Converting a List of Strings to Uppercase

In [9]:
def convert_to_uppercase(words):
    return [word.upper() for word in words]

def main():
    count = int(input("How many words? "))
    words = []
    for _ in range(count):
        word = input("Enter a word: ")
        words.append(word)
    uppercase_words = convert_to_uppercase(words)
    print(f"Words in uppercase: {uppercase_words}")

main()

How many words? 2
Enter a word: wd
Enter a word: sd
Words in uppercase: ['WD', 'SD']

# Calculating the Total Price Including Tax

In [10]:
def calculate_total_price(price, tax_rate):
    return price + (price * tax_rate / 100)

def main():
    price = float(input("Enter the price: "))
    tax_rate = float(input("Enter the tax rate (in %): "))
    total = calculate_total_price(price, tax_rate)
    print(f"The total price including tax is: {total}")

main()

Enter the price: 23
Enter the tax rate (in %): 3
The total price including tax is: 23.69

# Finding the Minimum and Maximum Values in a List

In [11]:
def find_min_max(numbers):
    return min(numbers), max(numbers)

def main():
    count = int(input("How many numbers? "))
    numbers = []
    for _ in range(count):
        num = float(input("Enter a number: "))
        numbers.append(num)
    min_value, max_value = find_min_max(numbers)
    print(f"The minimum value is: {min_value}")
    print(f"The maximum value is: {max_value}")

main()

How many numbers? 2
Enter a number: 23
Enter a number: 23
The minimum value is: 23.0
The maximum value is: 23.0

# Checking if a String is a Valid Email Address

In [12]:
import re

def is_valid_email(email):
    pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    return re.match(pattern, email) is not None

def main():
    email = input("Enter an email address: ")
    if is_valid_email(email):
        print("Valid email address")
    else:
        print("Invalid email address")

main()

Enter an email address: mostaohaabdulaziz2GMAIL.COM
Invalid email address

# Counting the Frequency of Each Character in a String

In [13]:
from collections import Counter

def count_characters(string):
    return Counter(string)

def main():
    string = input("Enter a string: ")
    char_count = count_characters(string)
    for char, count in char_count.items():
        print(f"'{char}': {count}")

main()

Enter a string: AD
'A': 1
'D': 1